<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="NoodleDContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=NoodleD;persist security info=True;user id=testUser;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <appSettings>
    <!-- идентификатор устройства самообслуживания (Self-Service Device) 
         ВНИМАНИЕ: значения идентификатора должны быть от 01 до 49
         Идентификатор должен состоять из двух цифр, остальные просто игнорируются
    -->
    <add key="ssdID" value="01"/>
    
    <!-- время бездействия в сек, (если 0, то реакция на бездействие отключена) -->
    <add key="UserIdleTime" value="3"/>   
    <!-- язык по умолчанию -->
    <add key="langDefault" value="ru"/>
    <!-- яркость фона, значения от 0 (невидимый) до 1 (самый яркий) -->
    <add key="MenuBackgroundBrightness" value="0.2"/>
    <!-- символ денежной единицы -->
    <add key="CurrencyChar" value="₴"/>
    <!-- курсор мыши -->
    <add key="MouseCursor" value="true"/>
    
    <!-- панель категорий -->
    <add key="IsAllowScrollingDishCategories" value="false"/>
    
    <!-- панель блюда -->
    <add key="dishesPanelScrollButtonHorizontalAlignment" value="Right"/>    <!--Left = 0, Center = 1, Right = 2, Stretch = 3-->
    <add key="dishesPanelScrollButtonSize" value="175"/>  <!-- in pixels (px = sm / 2.45 * 96) -->
    <add key="dishPanelHeaderFontSize" value="20"/>
    <add key="dishPanelUnitCountFontSize" value="15"/>
    <add key="dishPanelDescriptionFontSize" value="25"/>
    <add key="dishPanelAddButtoFontSize" value="30"/>
    <add key="dishPanelFontSize" value="30"/>
    <!--  гарниры в Воках -->
    <add key="dishPanelGarnishBrightness" value="0.8"/>    <!-- яркость фона гарнира, значения от 0 (невидимый) до 1 (самый яркий) --> 
    <add key="dishPanelGarnishTextColor" value="Black"/>   <!-- use ColorsViewer.exe to get color names -->
    <add key="dishPanelGarnishSelectTextColor" value="Black"/>   <!-- use ColorsViewer.exe to get color names -->
    <!--  dish animation  -->
    <add key="SelectDishAnimationSpeed" value="1000"/>
    <!-- in msec -->
    <add key ="isAnimatedSelectVoki" value="true"/>
    
    <!-- строки для диалоговых окон -->
    <add key="dialogBoxYesText" value="Да|Так|Yes"/>
    <add key="dialogBoxNoText" value="Нет|Нi|No"/>
    <add key="cartDelIngrTitle" value="Удаление ингредиента|Видалення інгредієнта|Removing ingredient"/>
    <add key="cartDelIngrQuestion" value="Удалить ингредиент|Видалити інгредієнт|Remove ingredient"/>
    <add key="cartDelDishTitle" value="Удаление блюда из заказа|Видалення страви із замовлення|Removing dish from the order"/>
    <add key="cartDelDishQuestion" value="Удалить блюдо|Видалити страву|Remove dish"/>
    <add key="printOrderTitle" value="Печать заказа|Друк замовлення|Order printing"/>
    <add key="printOrderErrorMessage" value="Ошибка сохранения заказа!\nЗаказ не был сохранен. Обратитесь к администратору приложения.|Помилка збереження замовлення!\nЗаказ не був збережений. Зверніться до адміністратора програми.|Error saving the order!\nOrder has not been saved. Contact to the administrator of the application."/>
    <add key="wordOr" value="или|або|or"/>
    <add key="wordIngredients" value="Ингредиенты:|Iнгредієнти:|Ingredients:"/>
    <add key="takeOrderOut" value="с собой|з собою|take away"/>
    <add key="takeOrderIn" value="в ресторане|у ресторані|in the restaurant"/>
    <add key="withGarnish" value="с гарниром|з гарніром|with garnish"/>
    <add key="areYouHereQuestion" value="Вы еще здесь?|Ви ще тут?|Are you here yet?"/>
    
    <!--for print checks-->
    <add key="RandomOrderNumFrom" value="256"/>
    <add key="RandomOrderNumTo" value="1024"/>
    <add key="BillPageWidht" value="300"/>  <!-- in pixels (px = sm / 2.45 * 96) -->
    <add key="CurrencyName" value="грн|грн|₴"/>
    <add key="PrinterName" value="Отправить в OneNote 2013"/>
    <add key="IsPrintBarCode" value="true"/>
    <add key="IsIncludeBarCodeLabel" value="true"/>
    <!-- для блюд с гарнирами -->
    <add key="DishFullNameInGarnish" value="false"/>  <!-- полное наименование блюда находится в гарнире -->
    <!-- время показа информ.окна после печати, в мсек. Если 0 - то автоматически окно НЕ закрывается -->
    <add key="AutoCloseMsgBoxAfterPrintOrder" value="5000"/>   

    <add key="IsWriteTraceMessages" value="true"/>
  </appSettings>
</configuration>
