<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="NoodleDContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=NoodleD1;persist security info=True;user id=testUser;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <appSettings>
    <!-- идентификатор устройства самообслуживания (Self-Service Device) 
         ВНИМАНИЕ: значения идентификатора должны быть от 01 до 49
    -->
    <add key="ssdID" value="01"/>
    <add key="UserIdleTime" value="5"/>   <!-- время бездействия в сек -->
    <!-- язык по умолчанию -->
    <add key="langDefault" value="ru"/>
    <!-- символ денежной единицы -->
    <add key="CurrencyChar" value="₴"/>
    <!-- визуальные элементы -->
    <add key="MouseCursor" value="true"/>
    <add key="dishesPanelScrollButtonHorizontalAlignment" value="Right"/>    <!--Left = 0, Center = 1, Right = 2, Stretch = 3-->
    <add key="dishesPanelScrollButtonSize" value="175"/>
    <!-- строки для диалоговых окон -->
    <add key="dialogBoxYesText" value="Да|Так|Yes"/>
    <add key="dialogBoxNoText" value="Нет|Нi|No"/>
    <add key="cartDelIngrTitle" value="Удаление ингредиента|Видалення інгредієнта|Removing ingredient"/>
    <add key="cartDelIngrQuestion" value="Удалить ингредиент|Видалити інгредієнт|Remove ingredient"/>
    <add key="cartDelDishTitle" value="Удаление блюда из заказа|Видалення страви із замовлення|Removing dish from the order"/>
    <add key="cartDelDishQuestion" value="Удалить блюдо|Видалити страву|Remove dish"/>
    <add key="wordOr" value="или|або|or"/>
    <add key="takeOrderOut" value="с собой|з собою|take away"/>
    <add key="takeOrderIn" value="в ресторане|у ресторані|in the restaurant"/>
    
    <!--for print checks-->
    <add key="BillPageWidht" value="300"/>
    <add key="CurrencyName" value="грн|грн|₴"/>
    <add key="PrinterName" value="Отправить в OneNote 2013"/>
    <add key="IsPrintBarCode" value="true"/>
    <add key="IsIncludeBarCodeLabel" value="true"/>
  </appSettings>
</configuration>
