<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--<target name="serialLog" keepFileOpen="true" xsi:type="File" layout="${longdate}|${level}|${threadid}|${threadname}|${message}" fileName="oman_serial.log" />-->
    <!--<target name="tcpLog"  keepFileOpen="true" xsi:type="File" layout="${message}" fileName="oman_tcp.log" />-->
    <target name="" xsi:type="File" fileName="${basedir}/nlog.txt" layout="${date}|${level}|${message}" keepFileOpen="true"/>
    <target name="fileTrace" xsi:type="File" fileName="nlog.txt" layout="${date}|${level}|${message}"/>
    <target name="fileError" xsi:type="File" fileName="nlog.txt" layout="${date}|${level}|${message}"/>
  </targets>



  <rules>
    <!--<logger name="OmanTeleLog" levels="Info,Warn,Error,Fatal" writeTo="serialLog" />-->
    <!--<logger name="ORDERMAN_TCP_CHANNEL" levels="Debug,Info,Warn,Error,Fatal" writeTo="tcpLog" />-->
    <logger name="*" minlevel="Trace" writeTo="fileTrace" />
  </rules>

</nlog>