<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileTrace" xsi:type="File" fileName="Logs/NoodleD.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|${message}" archiveEvery="Day" archiveFileName="Logs/NoodleD_{#}.txt" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" concurrentWrites="false" keepFileOpen="true" />
    </targets>
    <rules>
      <logger name="fileLogger" minlevel="Trace" writeTo="fileTrace" />
    </rules>
  </nlog>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <connectionStrings>
    <add name="NoodleDContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=NoodleD;persist security info=True;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <appSettings>
    <!-- путь к папке с изображениями (сплэш-экран, фон, на чеке), может быть абсолютным (начинается с буквы диска) или относительным (от папки с exe-файлом приложения) -->
    <add key="ImagesPath" value="AppImages"/>
    <!-- Фоновые изображения для сплеш-экрана -->
    <add key="BackgroundImageHorizontal" value="bg 3hor 1920x1080 background.png"/>
    <add key="BackgroundImageVertical" value="bg 3ver 1080x1920 background.png"/>
    <!-- яркость фона, значения от 0 (невидимый) до 1 (самый яркий) -->
    <add key="BackgroundImageBrightness" value="0.2"/>

    <!-- Таймаут запуска, в секундах, по умолчанию - 0 секунд -->
    <add key="StartTimeout" value="20"/>

    <!-- идентификатор устройства самообслуживания (Self-Service Device) 
         ВНИМАНИЕ: значения идентификатора должны быть от 01 до 49  -->
    <add key="ssdID" value="02"/>

    <!-- язык по умолчанию -->
    <add key="langDefault" value="ru"/>
    <!-- символ денежной единицы -->
    <add key="CurrencyChar" value="₴"/>
    <!-- курсор мыши -->
    <add key="MouseCursor" value="true"/>
    
    <!-- панель категорий -->
    <add key="IsAllowScrollingDishCategories" value="0"/>   <!-- разрешать ли прокрутку кнопок категорий -->
    <!-- промежуток между пунктами, в относительных единицах от 0.05 до 1.5 (для гориз.размещ. 0.2, для верт. 0.4) -->
    <add key="categoriesPanelMargin" value="0.2"/>
    <!-- шрифт текста категорий (для гориз. 24, для верт. 22) -->
    <add key="categoriesPanelFontSize" value="28"/>

    <!-- панель блюд -->
    <add key="dishesPanelScrollButtonHorizontalAlignment" value="Right"/>  <!--Left = 0, Center = 1, Right = 2, Stretch = 3-->
    <add key="dishesPanelScrollButtonSize" value="175"/>  <!-- in pixels (px = sm / 2.45 * 96) -->
    <add key="dishesColumnsCount" value="3"/>   <!-- количество столбцов блюд в главном окне -->
    
    <!-- панель блюда -->
    <add key="dishPanelHeaderFontSize" value="24"/>
    <add key="dishPanelUnitCountFontSize" value="22"/>
    <add key="dishPanelDescriptionFontSize" value="24"/>
    <add key="dishPanelAddButtoFontSize" value="24"/>
    <add key="dishPanelFontSize" value="24"/>
    <!--  гарниры в Воках -->
    <add key="dishPanelGarnishBrightness" value="0.8"/>    <!-- яркость фона гарнира, значения от 0 (невидимый) до 1 (самый яркий) --> 
    <add key="dishPanelGarnishTextColor" value="Black"/>   <!-- use ColorsViewer.exe to get color names -->
    <add key="dishPanelGarnishSelectTextColor" value="Black"/>   <!-- use ColorsViewer.exe to get color names -->
    <!--  dish animation, msec  -->
    <add key="SelectDishAnimationSpeed" value="1000"/>
    <add key="isAnimatedSelectVoki" value="true"/>
    
    <!-- строки для диалоговых окон -->
    <add key="dialogBoxYesText" value="Да|Так|Yes"/>
    <add key="dialogBoxNoText" value="Нет|Нi|No"/>
    <add key="InputNumberWinTitle" value="Введите промо-код|Введіть промо-код|Enter the promo code"/>
    <add key="cartDelIngrTitle" value="Удаление ингредиента|Видалення інгредієнта|Removing ingredient"/>
    <add key="cartDelIngrQuestion" value="Удалить ингредиент|Видалити інгредієнт|Remove ingredient"/>
    <add key="cartDelDishTitle" value="Удаление блюда из заказа|Видалення страви із замовлення|Removing dish from the order"/>
    <add key="cartDelDishQuestion" value="Удалить блюдо|Видалити страву|Remove dish"/>
    <add key="wordIngredients" value="Ингредиенты:|Iнгредієнти:|Ingredients:"/>
    <add key="takeOrderOut" value="С СОБОЙ|З СОБОЮ|TAKE AWAY"/>
    <add key="wordOr" value="ИЛИ|АБО|OR"/>
    <add key="takeOrderIn" value="В РЕСТОРАНЕ|У РЕСТОРАНІ|IN THE RESTAURANT"/>
    <add key="withGarnish" value="с гарниром|з гарніром|with garnish"/>

    <!-- таймер бездействия -->
    <!-- время бездействия в сек, (если 0, то реакция на бездействие отключена) -->
    <add key="UserIdleTime" value="60"/>  
    <add key="areYouHereTitle" value="Таймер бездействия|Таймер бездіяльності|Inactivity timer"/>
    <add key="areYouHereQuestion" value="Вы еще здесь?|Ви ще тут?|Are you here yet?"/>
    <!-- время в секундах, через которое произойдет возврат приложения в исходное состояние, если пользователь не нажал Да-->
    <add key="autoUIReset" value="30"/>  
    
    <!-- настройки для печати чека -->
    <add key="RandomOrderNumFrom" value="256"/>
    <add key="RandomOrderNumTo" value="1024"/>
    <!-- ширина чека в пикселях (1" = 96px, 1px=0.26mm) -->
    <add key="BillPageWidht" value="300"/>
    <!-- размер шрифта позиций заказа -->
    <add key="BillLineFontSize" value="12"/>
    <!-- отступ слева строк чека, в пикселях (1px=0.26mm) -->
    <add key="BillLineLeftMargin" value="0"/>
    <!-- отступ сверху строки блюда, в пикселях (1px=0.26mm) -->
    <add key="BillLineTopMargin" value="0"/>
    <!-- отступ сверху строки ингредиента, в пикселях (1px=0.26mm) -->
    <add key="BillLineIngrTopMargin" value="0"/>
    <!-- отступ сверху строки цены, в пикселях (1px=0.26mm) -->
    <add key="BillLinePriceTopMargin" value="0"/>
    <!-- наименование денежной валюты на рус/укр/анг языках -->
    <add key="CurrencyName" value="грн|грн|₴"/>
    <!-- имя принтера в ОС, на который будут выводиться чеки -->
    <add key="PrinterName" value="check"/>
    <!-- печатать ли штрих-код -->
    <add key="IsPrintBarCode" value="true"/>
    <!-- печатать ли значение штрих-кода под ним -->
    <add key="IsIncludeBarCodeLabel" value="true"/>
    <!-- сообщения при печати чека -->
    <add key="printOrderTitle" value="Печать заказа|Друк замовлення|Order printing"/>
    <add key="saveOrderErrorMessage" value="Ошибка сохранения заказа!\nЗаказ не был сохранен. Обратитесь к администратору приложения.|Помилка збереження замовлення!\nЗаказ не був збережений. Зверніться до адміністратора програми.|Error saving the order!\nOrder has not been saved. Contact to the administrator of the application."/>
    <add key="userErrMsgSuffix" value="Печать чека невозможна.\nОбратитесь к администратору приложения.|Друк чека неможливий.\nЗверніться до адміністратора програми.|Check printing is not possible.\nContact the application administrator."/>
    <add key="afterPrintingErrMsg" value="Ошибка печати чека.\nОбратитесь к администратору приложения.|Помилка друку чека.\nЗверніться до адміністратора програми.|Error printing check.\nContact the application administrator."/>
    <add key="printConfigError" value="Ошибка в конфигурации печати чека.|Помилка в конфігурації друку чека.|Error in check print configuration."/>
    <add key="printerStatusMsg" value="Принтер '{0}' находится в состоянии '{1}'.|Принтер '{0}' знаходиться в стані '{1}'.|The printer '{0}' is in the '{1}'."/>
    
    <!-- для блюд с гарнирами -->
    <add key="DishFullNameInGarnish" value="false"/>  <!-- полное наименование блюда находится в гарнире -->
    <!-- время показа информ.окна после печати, в мсек. Если 0 - то автоматически окно НЕ закрывается -->
    <add key="AutoCloseMsgBoxAfterPrintOrder" value="5000"/>   

    <!-- сбор информации -->
    <add key="IsLogUserAction" value="true"/>     <!-- вести ли журнал событий для бизнес-анализа -->
    <add key="IsWriteTraceMessages" value="true"/>  <!-- записывать ли в журнал приложения отладочные сообщения -->
    <add key="IsWriteWindowEvents" value="true"/>  <!-- записывать ли в журнал события окна/мыши/тача -->
    
  </appSettings>
</configuration>
